{% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}
{% set header = 'sylius.ui.'~resource %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ 'fos.import_export.ui.import'|trans }} {{ header|trans }}</h5>
        <div class="card-text">
            {{ form_start(form, {
                'action': path('app_import_data',  {'resource': resource}),
                'method': 'POST',
                'attr': {'novalidate': 'novalidate'}
            }) }}
            <div class="row">
                {{ form_widget(form) }}
            </div>

            <button type="submit" class="btn">
                {{ resource|capitalize }} {{ 'fos.import_export.ui.import'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
