{% form_theme form '@FOSSyliusImportExportPlugin/Form/theme.html.twig' %}
{% set header = 'sylius.ui.'~resource %}

<div class="ui styled fluid accordion">
    <div class="title active">
        <i class="dropdown icon"></i>
        {{ 'fos.import_export.ui.import'|trans }} {{ header|trans }}
    </div>
    <div class="content active">
        {{ form_start(form, {
            'action': path('fos_sylius_import_export_import_data',  {'resource': resource}),
            'method': 'POST',
            'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}
        }) }}
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
        <button class="ui icon primary button" type="submit" id="import-data">
            {{ resource|capitalize }} {{ 'fos.import_export.ui.import'|trans }}
        </button>
        {{ form_end(form) }}
    </div>
</div>
